# =========================
# 🔹 Backend - Entornos virtuales
# =========================
backend/venv/
backend/.venv/
backend/env/
backend/ENV/
venv/
.venv/
env/
ENV/

# =========================
# 🔹 Backend - Variables de entorno
# =========================
backend/.env
backend/.env.*
backend/*.env

# =========================
# 🔹 Backend - Archivos
# =========================
#backend/uploads/

# =========================
# 🔹 Backend - OCR
# =========================
OCR/afaem-487315-9fef755ac1dc.json
OCR/__pycache__
OCR/__pycache__/
# =========================
# 🔹 Python
# =========================
backend/__pycache__/
backend/**/*.py[cod]
*$py.class

# =========================
# 🔹 Distribución / packaging
# =========================
backend/build/
backend/dist/
backend/*.egg-info/
backend/.eggs/

# =========================
# 🔹 Bases de datos locales
# =========================
backend/*.sqlite3
backend/*.db

# =========================
# 🔹 Alembic
# =========================
backend/alembic/*.pyc
backend/alembic/__pycache__/

# =========================
# 🔹 Frontend
# =========================
frontend/node_modules/
frontend/dist/
node_modules/
Front_Feo/node_modules
Front_Feo/afaem-front/node_modules
# =========================
# 🔹 IDEs
# =========================
.vscode/
.idea/
.vs/

# =========================
# 🔹 Antigravity / Agentes AI
# =========================
.agent/
.gemini/
antigravity-skill-creator.md

# Python global
__pycache__/
*.py[cod]
*.pyo
*$py.class

.python-version
.pytest_cache/
.mypy_cache/

.env
.env.*

# Logs y basura
*.log
.DS_Store
Thumbs.db
