<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\inetpub\wwwroot\AFAEM\Servidor\venv\Scripts\python.exe"
                  arguments="-m uvicorn app.main:app --port %HTTP_PLATFORM_PORT% --host 127.0.0.1"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\inetpub\wwwroot\AFAEM\Servidor\logs\stdout.log"
                  startupTimeLimit="120"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
